// --------------------
// Definition of variables
$primary: #32c3ff;

// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#picbox img {
  width: 30px;
  height: 30px;
}

#fileupload {
  border: 2px solid grey;
  border-radius: 5px;
  margin: 20px;
}

#fileupload img {
  width: 50px;
  height: 50px;
}

#title {
  margin-bottom: 15px;
}

.left {
  margin: 50px;
}

.right {
  margin: 50px;
  min-width: 30%;
}

.input-sm {
  width: 80px;
}

.input-lg {
  width: 400px;
}

// Style for App component
.App {
  text-align: center;

  .App-header {
    background-color: $primary;
    padding: 20px;
    margin-bottom: 40px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }
}
